body{

        background-color: Blue
        

}

font{

       font-size: 38px;

       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

       color:brown




}

input{

        background-color: chocolate;

        font-size: 38px;

        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

        

}

button{

        background-color: darkblue;

        font-size: 38px;

        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}





